html{
	margin:0px;
	background:black;
	color:darkred;
	font-family:helvetica;
}

.header{
	background:black;
	color:darkred;
	float:left;
	
}

.header a{
	font-size:175%;
	margin:20px 50px;
	display:inline-block;
	text-align:center;
	padding:5px 20px;
	border:solid darkred;
	text-decoration:none;
}

.header img{
	display:inline-block;
	border:none;
	margin-top:5px;
	margin-left:390px;
	
}

#title{
	text-align:center;
	font-size:40px;
	font-family:georgia;
}

p{
	font-size:140%;
	text-align:center;
}

hr{
	border-color:darkred;
}

#ips{
	text-align:center;
}

#downloads{
	text-align:center;
	
	margin:20px;
}

#downloads a{
	font-size:20px;
	text-decoration:none;
}

#downloads h2{
	margin:20px 50px;
	text-align:center;
	padding:5px 20px;
	text-decoration:none;
}

#curl{
	color:darkred;
	text-decoration:none;
}

#me{
	text-align:center;
	display:block;
}

#index{
	text-align:center;
}

#index_2{
	margin:50px 0px 0px 0px;
	font-size:350%;
	font-family:playfair display;
}

#para a{
	text-decoration:none;
}